<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrepenaur</title>
</head>
<body>
    <h1>Aca va la explicación de como funciones si quieres crear una causa:</h1>
    <ol>
        <li>Primero crear un emprendimiento <%= link_to 'Agregar un proyecto', new_project_path, class:'btn btn-primary'%></li>
        <li>Segundo, crea una causa para tu emprendimiento <%= link_to 'Agregar una causa', new_cause_path, class:'btn btn-success'%></li>
    </ol>
</body>
</html>