

<p>Este sito busca conectar a personas que están emprendiendo y que buscan financiamiento para sus negocios, 
con personas que quieran aportar a esos negocios mediante
financiamiento colectivo. En Apañame.org cualquier persona que se registre en esta pagina puede subir una publicación buscando 
financiamiento para su negocio y aportar a otros emprendimientos.</p>
<h4>Cómo funciona</h4>
<h5>Convierte en un Apañador: </h5>
<ol>
    <li><p>Registrate con un correo y una contraseña.</p></li>
    <li><p>Navega por las publicaciones de los emprendimientos y revisa sus historias.</p></li>
    <li><p>Puedes comentar las publicaciones y contactarte con los emprendedores. Comenta para saber más acerca de la causa y su propósito. </p></li>
    <li><p>Conviertete en un Apañador! y compra puntos para aportar a las causas que tu quieras.</p></li>
    <li><p>Recibe recompensas por aportar!, como descuentos en los emprendimientos que apoyes y recompensas a tu perfil de usuario!. </p></li>
</ol>

<h5>Si buscas financiamiento para tu negocio: </h5>
<ol>
    <li><p>Registrate con un correo y una contraseña.</p></li>
    <li><p>Cuéntanos sobre tu emprendimiento y registra sus datos.</p></li>
    <li><p>Crea una campaña o causa que quieras financiar de tu emprendimiento.</p></li>
    <li><p>Ponte una meta! Las personas que visiten tu causa podran comentarla y aportar con "ApañaPuntos" para cumplir tu meta.</p></li>
    <li><p>Ofrece recompensas a los usuarios que aporten para incentivarlos.</p></li>
    <li><p>Crea una campaña o causa que quieras financiar de tu proyecto.</p></li>
</ol>

<footer class="row">
    <div class="col-12">
        <p>Conoce a miles de emprendedores<br> que buscan financiar sus sueños.<br> Sé un <span id="apañador">apañador <span class="emoji">&#128170;</span></span>, hoy!</p>
    </div>
</footer>