/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

:root{
    --font: 'Quicksand', sans-serif;
    --purple: #2F1793;
    --color1: #009DAE;
    --color2: #71DFE7;
    --color3: #FFE652;
    --cream: #FEFBF3; 
}

/*notice and alerts*/
.notice, .alert {
    color: var(--color1);
    font-size: 1.3em;
    font-weight: bold;
}
/*navbar*/
.navbar {
    background-color: var(--purple);
    /* background: rgb(113,223,231);
    background: radial-gradient(circle, rgba(113,223,231,1) 0%, rgba(0,157,174,1) 100%); */
}

.logo{ width: 10em; }
.navbar-nav a {color: white !important;}

.create-cause {
    background-color: var(--color1);
    border: 1.2px solid white;
    border-radius: 15px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: bold;
    text-decoration: none !important;
}

.create-cause:hover {
    background: rgb(113,223,231);
    background: radial-gradient(circle, rgba(113,223,231,1) 0%, rgba(0,157,174,1) 100%);
    cursor: pointer;
}

.signup, .login, .profile, .logout {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0 0.8em;
}

.signup {
    border: 1px solid white;
    border-radius: 15px;
    /* background-color: #71DFE7; */
}

.signup:hover {
    background: rgb(113,223,231);
    background: radial-gradient(circle, rgba(113,223,231,1) 0%, rgba(0,157,174,1) 100%);
    transition: 0.2s;
    cursor: pointer;
}

/*cause index view*/
body {
    /* background-image: url("background.jpg");
    background-size: cover; */
    background-color: var(--cream);
    font-family: var(--font);
}

/* visitor */
footer {
    padding-bottom: 2em;
    padding-top: 5em;
    background-color: white;
    border: 1px solid white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    /* font-weight: 600; */
}

footer p {font-size: 2.5em;}

#apañador {
    font-weight: bold;
    color: var(--color1);
}
.emoji {font-size:0.7em;}

/* causes container */
.index_causes {margin-top: 2em;}

.card {
    border: none;
    border-radius: 7.25rem;
}

h3 {
    color: var(--purple);
    margin-bottom: em;
    font-weight: bold;
    font-size: 3em;
}

/*cause card*/
.main-image {
    position: relative;
    text-align: center;
}

#cause_img {
    border-radius: 3% !important;
    filter: brightness(50%);
}

.days-left {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 0.8em;
    color: var(--color3);
    font-weight: bold;
}

.cause_header {
    position: absolute;
    bottom: 12em;
    left: 1em;
    height: 3em;
    vertical-align: top;
    color: white;
    font-size: 1em;
    font-weight: bold;
    font-family: var(--font);
}

.goToCause {
    border: 1px solid white;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 4em;
    right: 1em;
}

.bar {
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.counter, .goal {
    position: absolute;
    bottom: 1.5em;
    color: white;
    font-size: 1em;
    margin-bottom: 0;
    font-weight: bold;
}

.counter {left: 1em;}
.goal {right: 1em;}
.progress-outer {width: 100%;}
.progress-value {font-size: 11px;}
.title {font-size: 1.5em;}
.project {color: #C2FFF9;}

/*effects*/
.goToCause:hover {
    color: white;
    background: rgb(113,223,231);
    background: radial-gradient(circle, rgba(113,223,231,1) 0%, rgba(0,157,174,1) 100%);
    cursor: pointer;
}

.card:hover  #cause_img {
    filter: brightness(80%);
    transition: 0.5s;
}

/*progress bar*/
.progress{
    margin: 0;
    overflow: visible;
    border-radius: 50px;
    background: #eaedf3;
    box-shadow: inset 0 10px  10px rgba(244, 245, 250,0.9);
}
.progress .progress-bar {border-radius: 50px}
.progress .progress-value {
    position: relative;
    left: -45px;
    top: 4px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    
}
.progress-bar.active{
    animation: reverse progress-bar-stripes 0.80s linear infinite, animate-positive 4s;
    background-color: var(--color1);
}

@-webkit-keyframes animate-positive{0% { width: 0%; }}

@keyframes animate-positive {0% { width: 0%; }}

/*Entrepenaur view */
.pre-cause {
    font-size: 2em;
    text-align: center;
    color: var(--purple);
}

#go {color: black;}

.pre-cause p {font-weight: bold;}
.steps div p {font-size: 1.3em;}
#step-title {font-weight: bold;}
#apañapuntos {color: var(--color1); font-weight: bold;}

.new-project {
    color: var(--purple);
    border: 1px solid var(--purple);
    font-weight: bold;
}

.new-project:hover {
    color: white;
    background-color: var(--purple);
    cursor: pointer;
}
.new-cause {
    color: var(--color1);
    border: 1px solid var(--color1);
    font-weight: bold; 
}

.new-cause:hover {
    color: white;
    background-color: var(--color1);
    cursor: pointer;
}

/*Publication view*/
.big-image {height: 28em; border-radius: 15px;}

#img-1, #img-2, #img-3 {
    width: 100% !important;
    border-radius: 15px;
}
.counter1, .goal1 {
    position: absolute;
    bottom: 0.5em;
    color: white;
    font-size: 2em;
    margin-bottom: 0;
    font-weight: bold;
}
.dupbar {height: 2em;}

.counter1 {left: 1em;}
.goal1 {right: 1em;}

#donation {
    text-align: center;
}
.donate {
    padding: 1.2em 0.5em;
    border-radius: 15px;
    background-color: var(--purple);
}

.donate h3 {font-size: 2.5em;}

.new-donation {
    background-color: var(--purple);
    /* padding-right: 20em;
    padding-left: 20em; */
}

.new-donation .actions input{
    border-radius: 15px;
    border: 1px solid var(--purple);
    font-weight: bold;
    color: white;
    padding: 0.5em 3em;
    background-color: var(--color1);
}

.new-donation .actions input:hover {
    color: var(--purple);
    background-color: var(--color2);
    cursor: pointer;
}

select {
    padding: 0.2em 1.5em;
    border-radius: 15px;
    text-align: center;
}

option {text-align: start;}
.box {font-size: 0.9em;}
.box p {margin-bottom: 0;}

hr {
    border-color: white; 
    width: 25px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.days-left1 {
    color: var(--purple);
    font-weight: bold;
    font-size: 1.5em;
    bottom: 2em;
}

.comments .actions input{
    background-color: var(--purple);
    color: white;    
}

.user-comment {
    border-left: 5px solid var(--purple);
}

.all-comments {
    border: 1px solid var(--purple);
    border-radius: 15px;
}
/*Cause Form and Project Form*/
.goalnumber {width: 29.59em;}

form {
    text-align: center;  
}

.form-group {margin-bottom: 2em;}
.form-group label {font-weight: bold; color: var(--color1);}
.project label {color: var(--purple);}

.new-cause-form .actions input{
    border-radius: 15px;
    border: 1px solid var(--color1);
    font-weight: bold;
    color: white;
    padding: 0.5em 3em;
    background-color: var(--color1);
}

.new-cause-form .actions input:hover {
    color: var(--purple);
    background-color: var(--color2);
    cursor: pointer;
}

.new-project-form .actions input{
    border-radius: 15px;
    border: 1px solid var(--purple);
    font-weight: bold;
    color: white;
    padding: 0.5em 3em;
    background-color: var(--purple);
}

.new-project-form .actions input:hover {
    color: var(--purple);
    background-color: var(--color2);
    cursor: pointer;
}

/*Show donation*/
#mach-title {
    color: var(--purple);
    font-weight: bold;
}

/*footer bar*/
#footer {
    background-color: var(--purple);
    margin-top: 8em;
    
}

/*Form de user*/
.user-update-btn input {
    border-radius: 15px;
    border: 1px solid var(--purple);
    font-weight: bold;
    color: white;
    padding: 0.5em 3em;
    background-color: var(--purple);
}

.user-update-btn input:hover {
    color: var(--purple);
    background-color: var(--color2);
    cursor: pointer;
} 